.InstallPWA button{
    border: 3px solid #5e10ee;
    border-radius: 20px;
    width: 130px;
    height: 45px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: #5e10ee;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }