.Peoplestarwars{
    color: black;
    font-size: 2.5rem;
  }

.Peoplestarwars p {
  margin-top: 30px;
  margin-bottom: 40px;
}


.Peoplestarwars p .backBtn{
  border: 1px solid black;
  font-weight: bold;
  margin-right: 50px;
  color: white;
  background-color: black;
  padding-right: 20px;
  padding-left: 20px;
}

.Peoplestarwars p a { color:white; text-decoration: none;}
.Peoplestarwars p a:link { color:white; text-decoration: none;}
.Peoplestarwars p a:visited { color: white; text-decoration: none;}


